<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/alternative.css">
    <title>Ray Lennon</title>
</head>

<body>
    <div class="home-button" style="position: fixed; top: 10px; left: 10px;">
        <a href="/">Home</a>
    </div>
    <div style="width: 100%; text-align: center;">
        <img src="/images/CommunityHeader.svg" style="margin: 0 auto; height: 25vh" />
    </div>
    <% for(var i=0; i < posts.length; i++) { var post=posts[i]; %>
        <hr style="margin-top: 50px;">
        <div class="post-container <%= (i % 2 == 0) ? 'reverse' : '' %>">
            <div class="text-container">
                <h2 style="margin-bottom: 0; padding-bottom: 0">
                    <%=post.id.slice(2)%>
                </h2>
                <p style="font-size:25px;padding-top: 0px; margin-bottom: 0; width:  175px; border-radius: 20px;margin: auto; border-color: #8d8d8d">
                    <%- posts[i].datebox %></p>
                <!-- <p class="description" data-post="<%= post.id %>"></p> -->
                <p><%- decodeURIComponent(encodeURIComponent(posts[i].description)) %></p>
                <!-- </p> -->

                <button class="see-more-button" data-post="<%= post.id %>">All Photos...</button>
            </div>
            <div class="image-container">
                <% var initImages=post.images.filter(image=> image.startsWith('INIT')); %>
                    <% for(var j=0; j < initImages.length; j++) { %>
                        <% var image=initImages[j]; %>
                            <img src="/posts/<%= post.id %>/<%= image %>" class="post-image"
                                style="width: <%= (90 / initImages.length) %>%;" loading="lazy">
                            <% } %>
            </div>
            <div class="modal-overlay" id="modal-<%= post.id %>">
                <div style="position: fixed; left: 20px; top: 20px; color: white; font-size: 400;    -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;">X</div>
                <div class="modal-content">
                    <% for(var j=0; j < post.images.length; j++) { var image=post.images[j]; %>
                        <img src="/posts/<%= post.id %>/<%= image %>" class="modal-image" loading="lazy">
                        <% } %>
                </div>
            </div>
        </div>
        <% } %>
            <script>
                document.querySelectorAll('.description').forEach(elem => {
                    const postId = elem.getAttribute('data-post');

                    fetch(`/posts/${postId}/description.txt`)
                        .then(response => response.text())
                        .then(description => {
                            elem.textContent = description;
                        })
                        .catch(error => console.error(error));
                });
                // Handle see more button click event
                document.querySelectorAll('.see-more-button').forEach(button => {
                    button.addEventListener('click', () => {
                        const postId = button.getAttribute('data-post');
                        const modalOverlay = document.getElementById(`modal-${postId}`);
                        modalOverlay.style.display = 'block';
                        document.body.style.overflow = 'hidden'; // Prevent background website from scrolling

                        // Add event listener to close the modal on overlay click
                        modalOverlay.addEventListener('click', closeModal);

                        // Add event listener to close the modal on escape key press
                        document.addEventListener('keydown', handleEscapeKey);

                        function closeModal() {
                            modalOverlay.style.display = 'none';
                            document.body.style.overflow = ''; // Restore scrolling to the background website

                            // Remove event listeners
                            modalOverlay.removeEventListener('click', closeModal);
                            document.removeEventListener('keydown', handleEscapeKey);
                        }

                        function handleEscapeKey(event) {
                            if (event.key === 'Escape') {
                                closeModal();
                            }
                        }
                    });
                });
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/three.meshline@1.4.0/src/THREE.MeshLine.min.js"></script>
            </script>
</body>

</html>